@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #201f1f;
  margin: 0;
  padding: 0;
}

header {
  display: inline;
}

nav {
  background-color: #201f1f;
  padding: 5px;
  position: sticky; /*Ini merupakan nilai “kombinasi” dari relative positioning dan fixed positioning.*/
  top: -50px;
  transition: top 0.3s;
  z-index: 999;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

nav li {
  list-style-type: none;
}

.logo {
  flex: 1;
}

.MyName {
  font-weight: bold;
  font-size: 22px;
  color: #00ff00;
  text-decoration: none;
}

.MyName:hover {
  text-shadow: 5px 5px 35px yellow;
}

.lastName {
  color: #fff;
}

nav li a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #00ff00;
  padding: 5px 10px;
}

nav li a:hover,
nav li a.active {
  border-radius: 5px;
  border: 1px solid #00ff00;
  text-shadow: 5px 5px 35px yellow;
}

main {
  width: 100%;
  padding: 0 9rem;
  gap: 1.5rem;
}

.profile h1 {
  color: #fff;
}

main .profile {
  display: flex;
  margin-top: 8rem;
  margin-bottom: 12rem;
}

main .tagline {
  flex: 1;
  gap: 4rem;
}

.stack img {
  margin-right: 5px;
}

.container {
  display: flex;
  margin-top: 10px;
}

.button {
  font-size: 16px;
  text-decoration: none;
  color: #00ff00;
  border: 1px solid #00ff00;
  border-radius: 5px;
  padding: 7px 10px;
}

.button:hover {
  border-radius: 5px;
  text-shadow: 5px 5px 35px yellow;
}

.container .sosmed {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
}

.container .sosmed .sosmed-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #00ff00;
  border-radius: 20%;
  text-align: center;
}

.container .sosmed a {
  color: #00ff00;
  margin: auto 0;
}

.container .sosmed a:hover {
  text-shadow: 5px 5px 35px yellow;
}

.container .sosmed a i {
  margin: 8px auto;
  font-size: 22px;
}

main .content {
  display: flex;
  gap: 10rem;
  flex-direction: column;
}

main .content article {
  flex: 1 1;
}

main .content h2 {
  text-align: center;
  color: #00ff00;
}

article p {
  color: #00ff00;
}

#about {
  padding: 20px 4rem 4rem 4rem;
}

main aside .image img {
  margin: auto;
  min-width: 200px;
  width: 250px;
  border-radius: 50%;
}

.card {
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #262626;
  padding: 20px;
  width: 100%;
}

.slider {
  overflow: hidden;
}

.slides {
  width: 500%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.navigation-manual {
  position: absolute;
  width: 60rem;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #00ff00;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 4rem;
}

.manual-btn:hover {
  background: #00ff00;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 60rem;
  justify-content: center;
  margin-top: 196px;
}

.navigation-auto div {
  border: 2px solid #00ff00;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 4rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #00ff00;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #00ff00;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #00ff00;
}

.certificate {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.certificate img {
  margin: 0 5px;
}

#certifications {
  padding: 20px 3rem 3rem 3rem;
}

#certifications .see-more {
  margin-right: 28px;
  padding-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

#contact {
  padding: 20px 4rem 4rem 4rem;
}

.submit-button {
  display: flex;
  justify-content: center;
}

#contact button {
  background-color: #00ff00;
  border-radius: 5px;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#contact button:hover {
  border: 1px solid #00ff00;
  background-color: #262626;
  color: #00ff00;
  text-shadow: 5px 5px 35px yellow;
}

input:focus,
textarea:focus {
  outline: 1px solid blue;
}

input {
  height: 30px;
}

form input,
form textarea {
  width: 100%;
  padding: 20px 10px;
  margin: 0.5rem 0 2rem 0;
  border: none;
  border-radius: 10px;
  background-color: #3a3a3a;
  font-size: 16px;
  color: #00ff00;
}

footer {
  margin-top: 5rem;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #00ff00;
}

form label,
footer a {
  color: #00ff00;
}

footer a:hover {
  text-shadow: 5px 5px 35px yellow;
}
