@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #201f1f;
  margin: 0;
  padding: 0;
}

header {
  display: inline;
}

nav {
  background-color: #171717;
  padding: 5px;
  position: sticky; /*Ini merupakan nilai “kombinasi” dari relative positioning dan fixed positioning.*/
  top: 0; /*agar elemen navigasi selalu berada di atas jendela browser saat user melakukan scrolling.*/
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

nav li {
  list-style-type: none;
}

.logo {
  flex: 1;
}

.MyName {
  font-weight: bold;
  font-size: 22px;
}

nav a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #00ff00;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #171717;
}

nav a:hover {
  border-radius: 5px;
  border: 1px solid #00ff00;
  text-shadow: 5px 5px 35px yellow;
}

main {
  width: 100%;
  padding: 2rem 9rem;
  gap: 1.5rem;
  padding-top: 80px;
}

.profile h1 {
  color: #fff;
}

main .profile {
  display: flex;
  margin-bottom: 15rem;
}

main .tagline {
  flex: 1;
  gap: 4rem;
}

.stack img {
  margin-right: 5px;
}

.container {
  display: flex;
  margin-top: 10px;
}

.button {
  font-size: 18px;
  text-decoration: none;
  color: #00ff00;
  border: 1px solid #00ff00;
  border-radius: 5px;
  padding: 5px 10px;
}

.button:hover {
  border-radius: 5px;
  text-shadow: 5px 5px 35px yellow;
}

.container .sosmed {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.container .sosmed .sosmed-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #00ff00;
  border-radius: 20%;
  text-align: center;
}

.container .sosmed a {
  color: #00ff00;
  margin: auto 0;
}

.container .sosmed a:hover {
  text-shadow: 5px 5px 35px yellow;
}

.container .sosmed a i {
  margin: 8px auto;
  font-size: 22px;
}

main .content {
  display: flex;
  gap: 10rem;
  flex-direction: column;
}

main .content article {
  flex: 1 1;
}

main .content h2 {
  text-align: center;
  color: #00ff00;
}

article p {
  color: #00ff00;
}

main aside .image img {
  margin: auto;
  min-width: 200px;
  width: 250px;
  border-radius: 50%;
}

.card {
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #262626;
  padding: 20px;
  width: 100%;
}

#contact {
  padding: 20px 4rem 4rem 4rem;
}

.submit-button {
  display: flex;
  justify-content: center;
}

#contact button {
  background-color: #00ff00;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#contact button:hover {
  border: 1px solid #00ff00;
  background-color: #262626;
  color: #00ff00;
  text-shadow: 5px 5px 35px yellow;
}

input:focus,
textarea:focus {
  outline: 1px solid blue;
}

input {
  height: 30px;
}

form input,
form textarea {
  width: 100%;
  padding: 20px 10px;
  margin: 0.5rem 0 2rem 0;
  border: none;
  border-radius: 10px;
  background-color: #3a3a3a;
  font-size: 16px;
  color: #00ff00;
}

footer {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #00ff00;
}

form label,
footer a {
  color: #00ff00;
}

footer a:hover {
  text-shadow: 5px 5px 35px yellow;
}
